<div>
    <form action="/home/log">
       <table>
           <tr>
            <td>
                UserName:
            </td>
             <td>
                <input type="text" name="uname" id="nm">
             </td>  
           </tr>
           <tr>
            <td>
                Password:
            </td>
            <td>
                <input type="password" name="pass" id="psw">
            </td>
           </tr>
           <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
           </tr>
       </table>
    </form>
</div>