<div style="display: table;">
    <form action="/home/reg">
        <table>
            <tr>
                <td>
                    ID:
                </td>
                <td>
                    <input type="text" name="idn" id="idno">
                </td>
            </tr>
            <tr>
                <td>
                    Name:
                </td>
                <td>
                    <input type="text" name="name" id="nm">
                </td>
            </tr>
            <tr>
                <td>
                   Address:
                </td>
                <td>
                    <input type="text" name="address" id="addr">
                </td>
            </tr>
            <tr>
                <td>
                    DOJ:
                </td>
                <td>
                    <input type="date" name="datej" id="doj">
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>